doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        link(rel='shortcut icon', href='images/favicon.png', type='image/png')
        title Not Found 404 - TinyDoIt 微动
    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    a.navbar-brand(href='/') TinyDoIt&nbsp;
                        img.logo.img-circle(src='images/favicon.png', title='TinyDoIt')
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='sharecircle') 分享圈
                        li
                            a(href='help') 帮助
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | 关于
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='about') 关于我们
                                li
                                    a(href='#') 博客
                                li.divider
                                li.dropdown-header 联系方式
                                li
                                    a blueandhack@gmail.com
                    if(user!=null)
                        ul.nav.navbar-nav.navbar-right
                            li.hidden-xs
                                a(href='settings') 设置
                                    img.avatar.img-circle(src='#{userHead}', title='设置', alt='我的头像')
                            li.visible-xs
                                a(href='settings') 设置
                            li
                                a(href='my')
                                    | 我的任务
                            li
                                a(href='logout') 登出
                    else
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='signin') 登入
                            li
                                a(href='register') 注册
                //
                  /.nav-collapse
        .container
            .jumbotron.white-background
                .alert.alert-warning
                    | 404 没有找到此页面
        footer.footer
            p
                |本站用户贡献的内容遵循
                a(href='http://creativecommons.org/licenses/by/3.0/',target='_blank') CC BY 3.0
                |协议发布
            p
                | Created by&nbsp;
                | <a href="http://blueandhack.com" target="_blank">blueandahck&nbsp;</a>
                | <iframe src="http://ghbtns.com/github-btn.html?user=blueandhack&repo=TinyDoItWeb&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="155" height="20"></iframe>
                | <iframe src="http://ghbtns.com/github-btn.html?user=blueandhack&repo=TinyDoItWeb&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
            p Copyright © 2014&nbsp;
                a(href='http://tinydoit.com') TinyDoIt 微动
        script(src='http://cdn.staticfile.org/jquery/2.1.1-beta1/jquery.min.js')
        script(src='http://cdn.staticfile.org/jquery-scrollUp/2.1.0/jquery.scrollUp.min.js')
        script(src='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='../js/all.js')