html
    head
        meta(charset='utf-8')
        link(href='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        link(rel='shortcut icon', href='images/favicon.ico', type='image/png')
        title TinyDoIt 关于
    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    .navbar-brand TinyDoIt
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='index') 主页
                        li
                            a(href='sharecircle') 分享圈
                        li
                            a(href='help') 帮助
                        li.dropdown.active
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | 关于
                                b.caret
                            ul.dropdown-menu
                                li.active
                                    a(href='about') 关于我们
                                li
                                    a(href='#') 博客
                                li.divider
                                li.dropdown-header 联系方式
                                li
                                    a blueandhack@gmail.com
                    ul.nav.navbar-nav.navbar-right
                        if(user)
                            li
                                a(href='my')
                                    img.img-circle(src='#{userhead}', title='MyAvatar', style='max-width: 20px; max-height: 20px;')
                                    | 我
                            li
                                a(href='logout') 登出
                        else
                            li
                                a(href='signin') 登入
                            li
                                a(href='register') 注册
                //
                  /.nav-collapse
        .container
            .jumbotron
                h2 关于我们
                p 这是一款在线管理自己时间的工具
                p 您可以在您的团队中部署此项目，同团队中的成员分享你的计划
                p 同时，我们的特色在于
                p 你可以在大家分享的计划中寻找属于自己合适的计划，还可以分享自己的计划
                p 让我们Do It吧！
                p 我们的联系方式 blueandhack@gmail.com
        script(src='http://cdn.staticfile.org/jquery/2.1.1-beta1/jquery.min.js')
        script(src='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
