doctype html
html
    head
        meta(charset='utf-8')
        link(href='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='../css/style.css', rel='stylesheet')
        link(rel='shortcut icon', href='images/favicon.ico', type='image/png')
        title TinyDoIt | Enjoy your life and Manage your time
    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    .navbar-brand TinyDoIt
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='index') Home
                        li
                            a(href='sharecircle') Share Circle
                        li
                            a(href='help') Help
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | About
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='about') About
                                li
                                    a(href='#') Blog
                                li.divider
                                li.dropdown-header Connect
                                li
                                    a blueandhack@gmail.com
                    if(user!=null)
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='my')
                                    img.img-circle(src='#{userhead}', title='MyAvatar', style='max-width: 20px; max-height: 20px;')
                                    | My
                            li
                                a(href='logout') Logout
                    else
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='signin') Sign in
                            li
                                a(href='register') Register

                //
                  /.nav-collapse
        .container
            .row
                .jumbotron.col-md-12
                    h2 TinyDoIt helps you that manage your time!
                    p online management tasks in web
                    p
                        | TinyDoIt let you more easily manage your time, Enjoy your life and Manage your time!
                    p
                        a.btn.btn-primary(href='register') Register
                        span &nbsp;
                        a.btn.btn-info(href='about') Learn More
                        span &nbsp;
                        a.btn.btn-info(href='https://github.com/blueandhack/TinyDoItWeb' target='_blank') Get Code in GitHub
                .col-sm-6.col-md-4
                    img.figure_1(src='images/figure_1.png', alt='...')
                    .caption
                        h3 Simple Web UI
                        p You can in Windows, Linux, Phone
                .col-sm-6.col-md-4
                    .figure_2
                        .frame
                            table.table.table-
                                thead
                                    tr
                                        th #
                                        th ■■■
                                        th ■■■
                                        th ■■■
                                tbody
                                    tr
                                        td 1
                                        td ■■■
                                        td ■■■
                                        td ■■■
                                    tr.scroll-del
                                        td 2
                                        td ■■■
                                        td ■■■
                                        td ■■■
                                    tr.scroll-shift
                                        td 3
                                        td ■■■
                                        td ■■■
                                        td ■■■
                    .caption
                        h3 Convenient Management
                        p Delete Change Create etc. We Can Do!
                .col-sm-6.col-md-4
                    .figure_3
                        img.figure_3(src='images/figure_3.png', alt='...')
                    .caption
                        h3 Share Circle
                        p Choose Wonderful Task and Share your Task in ShareCircle!
        script(src='http://cdn.staticfile.org/jquery/2.1.1-beta1/jquery.min.js')
        script(src='jhttp://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
                              