doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        link(href='css/bootstrap-datetimepicker.min.css', rel='stylesheet')
        link(rel='shortcut icon', href='images/favicon.png', type='image/png')
        title 我的任务 - TinyDoIt 微动
    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    a.navbar-brand(href='/') TinyDoIt&nbsp;
                        img.img-circle.logo(src='images/favicon.png', title='TinyDoIt')
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='sharecircle') 分享圈
                        li
                            a(href='help') 帮助
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | 关于
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='about') 关于我们
                                li
                                    a(href='#') 博客
                                li.divider
                                li.dropdown-header 联系方式
                                li
                                    a blueandhack@gmail.com
                    if(user!=null)
                        ul.nav.navbar-nav.navbar-right
                            li.hidden-xs
                                a(href='settings') 设置
                                    img.avatar.img-circle(src='#{userHead}', title='设置', alt='我的头像')
                            li.visible-xs
                                a(href='settings') 设置
                            li.active
                                a(href='my')
                                    | 我的任务
                            li
                                a(href='logout') 登出
                    else
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='signin') 登入
                            li
                                a(href='register') 注册
                //
                  /.nav-collapse
        .container
            //
               Content
            .index.col-md-12.white-background
                .row
                    #box-list.col-md-3
                        h4 聚焦
                        ul.nav.nav-pills.nav-stacked
                            li#today.active
                                a(href='javascript:void(0)')
                                    | 今日
                                    span#today-badge.badge.pull-right 0
                            li#tomorrow
                                a(href='javascript:void(0)')
                                    | 未来
                                    span#tomorrow-badge.badge.pull-right 0
                            li#done
                                a(href='javascript:void(0)')
                                    | 已完成
                                    span#done-badge.badge.pull-right 0
                            li#miss
                                a(href='javascript:void(0)')
                                    | 错过
                                    span#miss-badge.badge.pull-right 0
                    .col-md-9
                        p
                            button#intAddTask.btn.btn-primary(data-toggle='modal', data-target='#AddTask')
                                | 添加任务
                        table.table.table-striped
                            thead
                                tr
                                    th 完成
                                    th 日期
                                    th 标题
                                    th 描述
                                    th 功能
                            tbody#taskTbody
                        ul#pagination.pagination
        //
           AddTask
        #AddTask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#AddTaskLabel.modal-title 添加任务
                    .modal-body
                        .row
                            form#addTaskForm.form-horizontal(role='form')
                                //
                                   Title
                                .form-group
                                    label.col-sm-3.control-label(for='title') 标题
                                    .col-sm-5
                                        input#newTitle.form-control(type='text', placeholder='请输入一个标题')
                                //
                                   Description
                                .form-group
                                    label.col-sm-3.control-label 描述
                                    .col-sm-8
                                        textarea#newDescription.form-control(rows='1',placeholder='请输入一段描述')
                                //
                                   Box
                                .form-group
                                    label.col-sm-3.control-label 盒子
                                    .col-sm-4
                                        select#newBox.form-control
                                            option(value='0') 今日
                                            option(value='1') 未来
                                //
                                   Start Date
                                .form-group
                                    label.col-sm-3.control-label 开始日期
                                    .col-sm-5
                                        .input-group.date.form_date(data-date='1979-09-16T05:25:07Z', data-date-format='dd-mm-yyyy', data-link-field='dtp_input1')
                                            input#newStartDate.form-control(size='16', type='text', value='', readonly='readonly')
                                            span.input-group-addon
                                                span.glyphicon.glyphicon-remove
                                            span.input-group-addon
                                                span.glyphicon.glyphicon-calendar
                                //
                                   Tags
                                .form-group
                                    label.col-sm-3.control-label 标签
                                    .col-sm-8
                                        input#newTagOne.col-sm-3(placeholder='')
                                        input#newTagTwo.col-sm-3(placeholder='')
                                        input#newTagThree.col-sm-3(placeholder='')
                                //
                                   Priority
                                .form-group
                                    label.col-sm-3.control-label 等级
                                    .col-sm-4
                                        select#newPriority.form-control
                                            option(value='0') 无
                                            option(value='1') 低
                                            option(value='2') 中
                                            option(value='3') 高
                    .modal-footer
                        button#addTaskClose.btn.btn-default(type='button', data-dismiss='modal') 关闭
                        button#addTaskPost.btn.btn-primary(type='button') 添加
                //
                   /.modal-content
            //
               /.modal-dialog
        //
           /.modal
        //
           Change Task
        #ChangeTask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#ChangeTaskLabel.modal-title 更改任务
                    .modal-body
                        .row
                            form.form-horizontal(role='form')
                                //
                                   Title
                                .form-group
                                    label.col-sm-3.control-label(for='title') 标题
                                    .col-sm-5
                                        input#changeTitle.form-control(type='text', placeholder='请输入一个标题')
                                //
                                   Description
                                .form-group
                                    label.col-sm-3.control-label 描述
                                    .col-sm-8
                                        textarea#changeDescription.form-control(rows='1',placeholder='请输入一段描述')
                                //
                                   Box
                                .form-group
                                    label.col-sm-3.control-label 盒子
                                    .col-sm-4
                                        select#changeBox.form-control
                                            option(value='0') 今日
                                            option(value='1') 未来
                                //
                                   Start Date
                                .form-group
                                    label.col-sm-3.control-label 开始日期
                                    .col-sm-5
                                        .input-group.date.form_date(data-date='1979-09-16T05:25:07Z', data-date-format='dd MM yyyy', data-link-field='dtp_input1')
                                            input#changeStartDate.form-control(size='16', type='text', value='', readonly='readonly')
                                            span.input-group-addon
                                                span.glyphicon.glyphicon-remove
                                            span.input-group-addon
                                                span.glyphicon.glyphicon-calendar
                                //
                                   Tags
                                .form-group
                                    label.col-sm-3.control-label 标签
                                    #changeTags.col-sm-8
                                        input#changeTagOne.col-sm-3
                                        input#changeTagTwo.col-sm-3
                                        input#changeTagThree.col-sm-3
                                //
                                   Priority
                                .form-group
                                    label.col-sm-3.control-label 等级
                                    .col-sm-4
                                        select#changePriority.form-control
                                            option(value='0') 无
                                            option(value='1') 低
                                            option(value='2') 中
                                            option(value='3') 高
                    .modal-footer
                        button#changeTaskClose.btn.btn-default(type='button', data-dismiss='modal') 关闭
                        button#changeTaskPost.btn.btn-primary(type='button') 保存
                //
                   /.modal-content
            //
               /.modal-dialog
        //
           /.modal
        //
           Share Task
        #ShareTask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#myModalLabel.modal-title 添加到分享圈
                    .modal-body
                        .row
                            form.form-horizontal(role='form')
                                //
                                   Author
                                .form-group
                                    label.col-sm-3.control-label 分享者
                                    .col-sm-5
                                        input#shareAuthor.form-control(type='text' readonly)
                                //
                                   Title
                                .form-group
                                    label.col-sm-3.control-label(for='title') 标题
                                    .col-sm-5
                                        input#shareTitle.form-control(type='text', placeholder='请输入一个标题')
                                //
                                   Description
                                .form-group
                                    label.col-sm-3.control-label 描述
                                    .col-sm-8
                                        textarea#shareDescription.form-control(rows='1',placeholder='请输入一段描述')
                                //
                                   Tags
                                .form-group
                                    label.col-sm-3.control-label 标签
                                    .col-sm-8
                                        input#shareTagOne.col-sm-3
                                        input#shareTagTwo.col-sm-3
                                        input#shareTagThree.col-sm-3
                    .modal-footer
                        button#shareTaskClose.btn.btn-default(type='button', data-dismiss='modal') 关闭
                        button#shareTaskPost.btn.btn-primary(type='button') 分享
                //
                   /.modal-content
            //
               /.modal-dialog
        //
           /.modal
        script(src='http://cdn.staticfile.org/jquery/2.1.1-beta1/jquery.min.js')
        script(src='http://cdn.staticfile.org/jquery-scrollUp/2.1.0/jquery.scrollUp.min.js')
        script(src='js/moment-with-langs.min.js')
        script(src='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='js/bootstrap-datetimepicker.min.js')
        script(src='js/bootstrap-datetimepicker.zh-CN.js')
        script(src='js/bootstrap-paginator.min.js')
        script(src='js/all.js')
        script(src='js/my.js')