doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='../css/style.css', rel='stylesheet')
        link(href='http://cdn.staticfile.org/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.css', rel='stylesheet')
        link(href='http://cdn.staticfile.org/bootstrap-switch/3.0.0rc/css/bootstrap3/bootstrap-switch.min.css', rel='stylesheet')
        link(rel='shortcut icon', href='../images/favicon.png', type='image/png')
        title 分享圈 - TinyDoIt 微动
    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    a.navbar-brand(href='/') TinyDoIt&nbsp;
                        img.logo.img-circle(src='../images/favicon.png', title='TinyDoIt')
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='/sharecircle') 分享圈
                        li
                            a(href='/help') 帮助
                        li
                            a(href='/about') 关于
                    if(user!=null)
                        ul.nav.navbar-nav.navbar-right
                            li.hidden-xs
                                a(href='/settings') 设置
                                    img.avatar.img-circle(src='#{userHead}', title='设置', alt='我的头像')
                            li
                                a(href='/my')
                                    | 我的任务
                            li.visible-xs
                                a(href='/settings') 设置
                            li
                                a(href='/signout') 登出
                    else
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='/signin') 登入
                            li
                                a(href='/register') 注册
                //
                  /.nav-collapse
        .container
            .index.white-background
                .row
                    .col-md-12.col-xs-12
                        table.table
                            thead
                                tr
                                    th 分享者
                                    th 标题
                                    th 描述
                                    th 标签
                                    th 分享日期
                                    th 功能
                                    th Do It？
                            tbody#shareTaskTbody
                    .col-md-12.col-xs-12
                        ul#pagination.pagination
        //
           Do It
        //
           AddTask
        #DoIt.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#AddTaskLabel.modal-title 添加此任务到你的任务列表
                    .modal-body
                        .row
                            form#addTaskForm.form-horizontal(role='form')
                                //
                                   Title
                                .form-group
                                    label.col-sm-3.col-xs-3.control-label(for='title') 标题
                                    .col-sm-5.col-xs-12
                                        input#newTitle.form-control(type='text', placeholder='输入一个标题')
                                //
                                   Description
                                .form-group
                                    label.col-sm-3.col-xs-3.control-label 描述
                                    .col-sm-8.col-xs-12
                                        textarea#newDescription.form-control(rows='2',placeholder='输入一段描述')
                                //
                                   Box
                                .form-group
                                    label.col-sm-3.col-xs-3.control-label 盒子
                                    .col-sm-4.col-xs-4
                                        select#newBox.form-control
                                            option(value='0') 今日
                                            option(value='1') 明日
                                            option(value='2') 日程
                                            option(value='3') 将来
                                            option(value='4') 等待
                                            option(value='5') 收集
                                //
                                    Start Time Checkbox
                                .form-group
                                    label.col-sm-3.col-xs-3.control-label 具体时间
                                    .col-sm-3
                                        input#startTime-checkbox(type='checkbox', name='isStartTime')
                                //
                                   Start Date
                                #start-date.form-group
                                    label.col-sm-3.col-xs-3.control-label 开始日期
                                    .col-sm-5.col-xs-8
                                        .form_date.input-group.date(data-date-format='YYYY-MM-DD')
                                            span.input-group-addon
                                                span.glyphicon.glyphicon-calendar
                                            input#newStartDate.form-control(size='16', type='text', value='', readonly='readonly')
                                //
                                   Start Time
                                #start-date-time.form-group
                                    label.col-sm-3.col-xs-3.control-label 开始日期（时间）
                                    .col-sm-5.col-xs-8
                                        .input-group.date.form_date_time(data-date-format='YYYY-MM-DD HH:mm')
                                            span.input-group-addon
                                                span.glyphicon.glyphicon-time
                                            input#newStartDateTime.form-control(size='16', type='text', value='', readonly='readonly')
                                //
                                   Tags
                                .form-group
                                    label.col-sm-3.col-xs-3.control-label 标签
                                    .col-sm-8.col-xs-8
                                        .col-sm-4.col-xs-12
                                            input#newTagOne.form-control
                                        .col-sm-4.col-xs-12
                                            input#newTagTwo.form-control
                                        .col-sm-4.col-xs-12
                                            input#newTagThree.form-control
                                //
                                   Priority
                                .form-group
                                    label.col-sm-3.col-xs-3.control-label 等级
                                    .col-sm-4.col-xs-4
                                        select#newPriority.form-control
                                            option(value='0') 无
                                            option(value='1') 低
                                            option(value='2') 中
                                            option(value='3') 高
                    .modal-footer
                        button#addTaskClose.btn.btn-default(type='button', data-dismiss='modal') 关闭
                        button#addTaskPost.btn.btn-primary(type='button') 添加
                //
                   /.modal-content
            //
               /.modal-dialog
        //
           /.modal

        //
            ChangeShareTask
        #ChangeShareTask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#myModalLabel.modal-title 添加到分享圈
                    .modal-body
                        .row
                            form.form-horizontal(role='form')
                                //
                                   Author
                                .form-group
                                    label.col-sm-3.col-xs-3.control-label 分享者
                                    .col-sm-5.col-xs-12
                                        input#changeShareAuthor.form-control(type='text' readonly)
                                //
                                   Title
                                .form-group
                                    label.col-sm-3.col-xs-3.control-label(for='title') 标题
                                    .col-sm-5.col-xs-12
                                        input#changeShareTitle.form-control(type='text', placeholder='请输入一个标题')
                                //
                                   Description
                                .form-group
                                    label.col-sm-3.col-xs-3.control-label 描述
                                    .col-sm-8.col-xs-12
                                        textarea#changeShareDescription.form-control(rows='2',placeholder='请输入一段描述')
                                //
                                   Tags
                                .form-group
                                    label.col-sm-3.col-xs-3.control-label 标签
                                    .col-sm-8.col-xs-8
                                        .col-sm-4.col-xs-12
                                            input#changeShareTagOne.form-control
                                        .col-sm-4.col-xs-12
                                            input#changeShareTagTwo.form-control
                                        .col-sm-4.col-xs-12
                                            input#changeShareTagThree.form-control
                    .modal-footer
                        button#changeShareTaskClose.btn.btn-default(type='button', data-dismiss='modal') 关闭
                        button#changeShareTaskPost.btn.btn-primary(type='button') 更改
                //
                   /.modal-content
            //
               /.modal-dialog
        //
           /.modal

        script(src='http://cdn.staticfile.org/jquery/2.1.1-beta1/jquery.min.js')
        script(src='http://cdn.staticfile.org/jquery-scrollUp/2.1.0/jquery.scrollUp.min.js')
        script(src='../js/moment-with-langs.min.js')
        script(src='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='http://cdn.staticfile.org/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.js')
        script(src='../js/bootstrap-paginator.min.js')
        script(src='http://cdn.staticfile.org/bootstrap-switch/3.0.0rc/js/bootstrap-switch.min.js')
        script(src='../js/all.js')
        script(src='../js/sharecircle.js')