doctype html
html
    head
        meta(charset='utf-8')
        link(href='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        link(href='css/bootstrap-datetimepicker.min.css', rel='stylesheet')
        link(rel='shortcut icon', href='images/favicon.ico', type='image/png')
        script(src='http://cdn.staticfile.org/jquery/2.1.1-beta1/jquery.min.js')
        script(src='js/moment-with-langs.min.js')
        script(src='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='js/bootstrap-datetimepicker.min.js')
        script(src='js/all.js')
        script(src='js/sharecircle.js')
        title ShareCircle Tasks List
    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    .navbar-brand TinyDoIt
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='index') Home
                        li.active
                            a(href='sharecircle') Share Circle
                        li
                            a(href='help') Help
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | About
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='about') About
                                li
                                    a(href='#') Blog
                                li.divider
                                li.dropdown-header Connect
                                li
                                    a blueandhack@gmail.com
                    if(user!=null)
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='my')
                                    img.img-circle(src='#{userhead}', title='MyAvatar', style='max-width: 20px; max-height: 20px;')
                                    | My
                            li
                                a(href='logout') Logout
                    else
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='signin') Sign in
                            li
                                a(href='register') Register
                //
                  /.nav-collapse
        .container
            .jumbotron.white-background
                .row
                    .col-md-12
                        table.table
                            thead
                                tr
                                    th Author
                                    th Title
                                    th Description
                                    th Tags
                                    th Create Task Date
                                    th Do It?
                            tbody#shareTaskTbody
                                tr
                                    td XXXX@XXXX
                                    td Running
                                    td Go go go! let's go running!
                                    td Run, Fit, Go
                                    td 2014-04-01
                                    td
                                        button.btn.btn-primary.btn-sm(data-toggle='modal', data-target='#DoIt')
                                            | Yes! I Do It!
        //
           Do It
        //
           AddTask
        #DoIt.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#AddTaskLabel.modal-title Add Task
                    .modal-body
                        .row
                            form#addTaskForm.form-horizontal(role='form')
                                //
                                   Title
                                .form-group
                                    label.col-sm-3.control-label(for='title') Title
                                    .col-sm-5
                                        input#newTitle.form-control(type='text', placeholder='input title')
                                //
                                   Description
                                .form-group
                                    label.col-sm-3.control-label Description
                                    .col-sm-8
                                        textarea#newDescription.form-control(rows='1')
                                //
                                   Box
                                .form-group
                                    label.col-sm-3.control-label Box
                                    .col-sm-4
                                        select#newBox.form-control
                                            option(value='0') Today
                                            option(value='1') Tomorrow
                                //
                                   Start Date
                                .form-group
                                    label.col-sm-3.control-label Start Date
                                    .col-sm-5
                                        .input-group.date.form_date(data-date='1979-09-16T05:25:07Z', data-date-format='dd-mm-yyyy', data-link-field='dtp_input1')
                                            input#newStartDate.form-control(size='16', type='text', value='', readonly='readonly')
                                            span.input-group-addon
                                                span.glyphicon.glyphicon-remove
                                            span.input-group-addon
                                                span.glyphicon.glyphicon-calendar
                                //
                                   Tags
                                .form-group
                                    label.col-sm-3.control-label Tags
                                    .col-sm-8
                                        input#newTagOne.col-sm-3
                                        input#newTagTwo.col-sm-3
                                        input#newTagThree.col-sm-3
                                //
                                   Priority
                                .form-group
                                    label.col-sm-3.control-label Priority
                                    .col-sm-4
                                        select#newPriority.form-control
                                            option(value='0') None
                                            option(value='1') Low
                                            option(value='2') Medium
                                            option(value='3') High
                    .modal-footer
                        button#addTaskClose.btn.btn-default(type='button', data-dismiss='modal') Close
                        button#addTaskPost.btn.btn-primary(type='button') Add Task
                //
                   /.modal-content
            //
               /.modal-dialog
        //
           /.modal
