doctype html
html
    head
        meta(charset='utf-8')
        link(href='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        link(rel='shortcut icon', href='images/favicon.ico', type='image/png')
        script(src='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
        title 登入TinyDoIt
    body.body-signin
        .container
            form.form-signin(method='post')
                h2 请登入
                p
                    | 没有账号？
                    a(href='/register') 请注册
                input.form-control(type='text', name='email', placeholder='邮件地址', required='required', autofocus='autofocus')
                input.form-control(type='password', name='password', placeholder='密码', required='required')
                label.checkbox
                    input(type='checkbox', value='remember-me')
                    | 记住我
                button.btn.btn-block.btn-primary.btn-lg(value='submit') 登入
