doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='../css/style.css', rel='stylesheet')
        link(href='http://cdn.staticfile.org/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.css', rel='stylesheet')
        link(rel='shortcut icon', href='../images/favicon.png', type='image/png')
        title 管理用户 - TinyDoIt 微动
    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    a.navbar-brand(href='/') TinyDoIt&nbsp;
                        img.logo.img-circle(src='../images/favicon.png', title='TinyDoIt')
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='dashboard') 管理员控制面板
                        li.active
                            a(href='users') 管理用户
                        li
                            a(href='sharetasks') 管理分享任务
                    ul.nav.navbar-nav.navbar-right
                        li.hidden-xs
                            a
                                img.avatar.img-circle(src='#{userHead}', title='设置', alt='我的头像')
                        li
                            a(href='logout') 登出
                //
                  /.nav-collapse
        .container
            .index.white-background
                .row
                    .col-md-12
                        table.table
                            thead
                                tr
                                    th 头像
                                    th 用户名
                                    th 邮箱
                                    th 注册时间
                                    th 功能
                            tbody#usersTbody
                    .col-md-12
                        ul#pagination.pagination
        //
            ChangeUser
        #ChangeUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#myModalLabel.modal-title 更改用户密码
                    .modal-body
                        .row
                            form.form-horizontal(role='form')
                                //
                                   Username
                                .form-group
                                    label.col-sm-3.control-label 用户名
                                    .col-sm-5
                                        input#changeUsername.form-control(type='text', readonly='true')
                                //
                                   Email
                                .form-group
                                    label.col-sm-3.control-label(for='title') 邮箱
                                    .col-sm-5
                                        input#changeEmail.form-control(type='text', readonly='true')
                                //
                                   Password
                                .form-group
                                    label.col-sm-3.control-label 修改密码
                                    .col-sm-8
                                        input#changePassword.form-control(type='text')
                                //
                                   Create Date
                                .form-group
                                    label.col-sm-3.control-label 注册时间
                                    .col-sm-8
                                        input#changeCreate.form-control(type='text', readonly='true')

                    .modal-footer
                        button#changeUserClose.btn.btn-default(type='button', data-dismiss='modal') 关闭
                        button#changeUserPost.btn.btn-primary(type='button') 更改
                //
                   /.modal-content
            //
               /.modal-dialog
        //
           /.modal
        script(src='http://cdn.staticfile.org/jquery/2.1.1-beta1/jquery.min.js')
        script(src='http://cdn.staticfile.org/jquery-scrollUp/2.1.0/jquery.scrollUp.min.js')
        script(src='../js/moment-with-langs.min.js')
        script(src='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='http://cdn.staticfile.org/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.js')
        script(src='../js/bootstrap-paginator.min.js')
        script(src='../js/all.js')
        script(src='../js/users.js')
